#about{	
	text-align:center;
	padding:30px;
	color:#464646;
	background-color:#e74c3c;
	.about-title{
		color:white;
	}
	.about-img{		
		.img-profile{
			@extend .img-fluid;
			border-radius:100%;
			margin:10px 0;
		}
		.social{
			a{color:white;margin-left:5px;}			
		}
	}
	.about-skills{
		.title-skills{
			color:white;
			margin:20px 0;
		}
		.img-skill{
			width:70px;
			margin-bottom:10px;	
			@extend .img-fluid;
		}
	}
}	